.idea/.name
.idea/AnyShow.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
Node-App/node_modules/json-socket/.idea/.name
Node-App/node_modules/json-socket/.idea/encodings.xml
Node-App/node_modules/json-socket/.idea/inspectionProfiles/Project_Default.xml
Node-App/node_modules/json-socket/.idea/inspectionProfiles/profiles_settings.xml
Node-App/node_modules/json-socket/.idea/libraries/sass_stdlib.xml
Node-App/node_modules/json-socket/.idea/misc.xml
Node-App/node_modules/json-socket/.idea/modules.xml
Node-App/node_modules/json-socket/.idea/node-json-socket.iml
Node-App/node_modules/json-socket/.idea/scopes/scope_settings.xml
Node-App/node_modules/json-socket/.idea/vcs.xml
Node-App/node_modules/json-socket/.idea/workspace.xml
node_modules
npm-debug.log
